rendercv_output/Pierre-Emmanuel_Brian_CV_PASTETOGRAMMARLY.html
rendercv_output/Pierre-Emmanuel_Brian_CV.aux
rendercv_output/Pierre-Emmanuel_Brian_CV.log
rendercv_output/Pierre-Emmanuel_Brian_CV.md
rendercv_output/Pierre-Emmanuel_Brian_CV.pdf
rendercv_output/Pierre-Emmanuel_Brian_CV.tex
rendercv_output/__pycache__/__init__.cpython-312.pyc
